<!--The content below is only a placeholder and can be replaced.-->
<div class="card">
  <div class="card-header text-center text-muted">
   <h3>Book now</h3>
  </div>

  <div class="card-body text-center text-muted">
      <div class='row'>
          <h4>Title : {{movie.title}}</h4> &nbsp; &nbsp; &nbsp;
          <h4>Cinema : {{movie.location}}</h4>
      </div>
<div style="text-align:center">
</div>
<div class="col-lg-12 seat-container" >
  <div  *ngFor="let seatrow of seatmap " >
      <div class="col-12 pricing-label" *ngIf="seatChartConfig?.showRowWisePricing && seatrow.seatPricingInformation != ''">{{seatrow.seatPricingInformation}}</div>
      <div class="seatrow container">
         
          <div *ngFor="let seatobj of seatrow.seats">
              <div class="seat-item seat-space" style="color:white ; background-color:white" *ngIf="seatobj.seatLabel == ''">  &nbsp; </div>
              <div tooltip="Seat : {{seatobj.seatLabel}} | Price : {{seatobj.price}}Rs" placement="top"
              [ngClass]="{ 'seat-item' : true , 'seat-available' : seatobj.status == 'available' ,'seat-booked' : seatobj.status == 'booked' ,'seat-unavailable' : seatobj.status == 'unavailable' }" 
               (click)="selectSeat(seatobj)" *ngIf="(seatobj.status == 'available' || seatobj.status == 'booked' )&& seatobj.seatLabel != ''">{{seatobj.seatNo}}</div>
               
              <div tooltip="Seat not available" placement="top"
              [ngClass]="{ 'seat-item' : true , 'seat-unavailable' : true }" 
              *ngIf="seatobj.status == 'unavailable' && seatobj.seatLabel != ''">{{seatobj.seatNo}}</div>
          </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="well" style="background-color: chocolate; width: auto;height: 50px;text-align: center;padding-top: 3px;"><h3>Screen</h3></div>
</div>

<!-- *ngIf="cart?.selectedSeats?.length > 0" -->
<div  class="container">
  <div class="col-lg-12 summary-bar">
      <div class="col-lg-4" >
              <div>
                  <h5>Total Selected : {{ cart?.selectedSeats?.length }}</h5>
                  <h5>Total Amount :&nbsp;&nbsp; {{cart.totalamount}} Rs</h5>
              </div>
      </div>
      <div class="col-lg-8 selected-seats">
          <h5 class="col-lg-12 no-padding">Selected Seats : </h5>
          <span *ngFor="let seatLabel of cart.selectedSeats" class="badge badge-primary">{{seatLabel}}</span>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
          <button  type="button"  (click)="cancel()" class="btn btn-primary" mdbWavesEffect>Cancel</button>
        </div>
      
        <div class="col-sm-6">
            <button [disabled]="cart?.selectedSeats?.length == 0" type="button"  (click)="processBooking()" class="btn btn-primary" mdbWavesEffect>Book Now</button>
          </div>  

  </div>
 
</div>

</div>
  
  
</div>   

<div class="row">
  <div class="col-md-11" style="margin-left:80px;">
      <br>
          <app-child></app-child>
  </div>
 
</div>
