<div class="card">
    <div class="card-header text-center text-muted">
     <h3> List of Movies</h3>
    </div>
    <br>
   
      
   
         <br>
     <div class="row">
       <div class="col-md-12">
   
         <div class="container">
   
          
             <div class='row'>
                 <div class='col-md-2 pull-right'>Search by:</div>
                 <div class='col-md-4'>
                   <input type='text' placeholder="Title"
                   [(ngModel)]='searchtext'/>          
                 </div>
               </div>
   
               <br>
   
   
           <div class="row" *ngIf="!loading">
             <div class="col-sm-4 mb-2" *ngFor='let movie of filteredMovies | sortBy: sortByKey | searchpipe: searchtext'>
               <div class="item">
                 <div class=" mb-r">
                   <!--Card-->
                   <div class="card" style="width:300px">
                     <!--Card image-->
                     <a>
                       <div class="view overlay hm-white-slight">
                         <img [src]="movie.poster"  alt="Not Available" width="300px" height="180px">
                         <a>
                           <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                         </a>
                       </div>
                     </a>
                     <!--/.Card image-->
                     <!--Card content-->
                     <div class="card-body text-center no-padding">
                       <!--Category & Title-->
                       <p class="card-title text-left">
                        <a [routerLink]="['movie', movie._id]" routerLinkActive="router-link-active">{{ movie.title }}</a>
                       </p>
                      
                       <!--Description-->
                       <p class="card-text text-muted text-left">Rating:{{ movie.rating }}</p>
                       <!--Card footer-->
                       <p class="card-text text-muted text-left">{{ movie.location }}</p>
                       <hr>
                       <h6 class="text-left">Book</h6>
                       <span style="float: left"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<a>{{movie.timings}}</a> </span>
                     </div>
                     <!--/.Card content-->
                     <button class="btn btn-primary">Reserve</button>
                   </div>
                   <!--/.Card-->
   
                 </div>
               </div>
             </div>
           </div>
           <!-- Pagination -->
         </div>
         <!--/.Card-->
       </div>
     </div>
   </div>